<div class="jumbotron text-center">
  <h1 class="jumbotron-heading"><%= t('blacklight.welcome') %></h1>

  <p class="lead">Libraries, historical societies, museums, and related cultural
  heritage institutions in the Commonwealth of Pennsylvania contain cultural heritage
  historical collections of great depth and richness. The mission of PA Digital is to
  make the digital collections of the Commonwealth’s cultural heritage institutions
  widely discoverable.</p>

</div>

<div id="getting-started">
  <h2>About</h2>

  <p>PA Digital was announced as a Digital Public Library of America (DPLA) Service
  Hub in August 2015 and our collections went live in the DPLA in April 2016.
  Participating in the DPLA enhances discovery of and access to Pennsylvania cultural
  heritage content, thus broadening its use and impact worldwide. As technologies and
  partnerships develop, the PA Digital Partnership will continue to expand the ways in
  which the unique cultural heritage collections of Pennsylvania are made available to
  the widest audience. The PA Digital Partnership exists under the auspices of the
  State Library of Pennsylvania, Temple University, the Pennsylvania State University,
  the University of Pennsylvania, and the Free Library of Philadelphia. Other partners
  include the Pennsylvania Academic Library Consortium, Inc. (PALCI), Hosting Solutions
  and Library Consulting (HSLC), the Philadelphia Area Consortium of Special
  Collections Libraries (PACSCL), as well as a variety of contributing institutions
  from across the state.</p>
</div>

