$link-color: #051D49;
$facet-color: #9c27b0;
$selected-item-background: #6c757d;
$selected-item-color: white;

.navbar-logo {
  background-size: 65px 50px !important;
  background: transparent url("logo.png") no-repeat top left;
  height: 50px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 150px;
}

.document-title-heading a{
	color: $link-color;
}

a, a:hover{
	color: $link-color;
}

#appliedParams .btn-outline-secondary{
  background-color: $selected-item-background;
  color: $selected-item-color;
}

a.btn, a.btn:hover{
	background-color: $link-color !important;
	border-color: $link-color !important;
}

span.constraint-value.btn.btn-online-secondary.btn-disabled:hover{
  background-color: $link-color;
}

.pagination{
  a, a:hover{
    color: $link-color;
  }
  li.page-item.active span.page-link{
    background-color: $link-color;
    border-color: $link-color;
  }
}

.search-query-form button{
	background-color: $link-color;
  .btn-primary.search-btn{
    background-color: $link-color !important;
  }
}

button#search{
  background-color: $link-color;
  border-color: $link-color;
}

.facet-limit-active {
  .card-header{
    background-color: #F7F7F7 !important;
  }
  border: 1px solid #DDD !important;
  .text-success, .facet-values li .selected{
    color: $link-color !important;
  }
}

.page-sidebar .show-thumbnail {
	margin-top: 100px;

	@media(max-width: 768px) {
		margin-top: 0;
		margin-left: 50px;
	}

}

.prev_next_links a.btn,
.prev_next_links a:hover {
	background-color: white !important;
	border: none;
	color: $link-color;
}

div.sort-options {
	a.sort_change,
	a.short_change:hover {
		background-color: white !important;
		color: #051D49;
	}

	span.active {
	background-color: #051D49 !important;
	color: white;
	}
}

span.constraint-value {
	background-color: white !important;
	color: black !important;
}

span.constraint .remove {
	background-color: white !important;
	color: black !important;
}

.blacklight-catalog-index dt {
	flex: 0 0 50% !important;
	max-width: 50% !important;

	@media(min-width: 485px) {
		margin-left: -50px !important;
  }
}

.blacklight-catalog-index dd {
	flex: 0 0 50% !important;
}

/* Blacklight 8 Adjustments */

.facet-limit-active .card-header .btn {
	color: #000;
}

.blacklight-catalog-show {
	header.documentHeader.row {
		margin-left: 0px;
	}
}

.navbar {
	padding-top: 0.1em;
	.navbar-nav {
		margin-top: 0.5rem;
	}
}

.navbar-search {
	padding-top: 0.5rem
}

search {
	select#search_field {
		width: 3.6rem;
	}
	button {
		width: 6.5em;
	}
	.submit-search-text {
		margin-right: 0.3em;
	}
}

#facet-preview_ssim .facet-values {
  li {
    word-break: break-all;
  }
}

.page-link.disabled, .disabled > .page-link {
  background-color: #fff;
}