.document-thumbnail img{
	width: 80px;
}

.show-thumbnail{
	padding: 10px;
	img {
		width: 150px;
	}
}

.document-metadata {
  .col-md-9 {
    overflow-wrap: break-word;
  }
}

.default-thumbnail {
	background: url("default-thumbnail.png") no-repeat;
	float: right;
	padding: 10px;
	background-size: 100px;
	width: 100px;
	height: 140px;
}

.view-object{
  display: block;
  padding-top: 5px;
  text-align:center;
}
